

/*ROOTS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.Container{
  width: 100vw;
  min-height: 100%;
  background: #ffffff;
  transition: 0.5s;
}

/*Darkmode/Lightmode*/
.light {
  background: #fff;
  color: #000;
  min-height: 100vh;
}

.dark {
  background: #111;
  color: #fff;
  min-height: 100vh;
}